/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito:wght@600&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Above are the code to reset all html elements */
/*
    Author: Samuel Chika;
    Location: Dublin Ireland;

*/

/*
        font-family: 'Montserrat', sans-serif;

    font-family: 'Nunito', sans-serif;
*/
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    line-height: 1.7em;
    font-family: 'Montserrat', sans-serif;
    background-image: url("../img/img3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-color: darkolivegreen; */
}
.jumbotron {
    background: none;
}
#jumCont {
    background-color: rgba(114, 117, 119, 0.8);
    padding-top: 25px;
}

.list-square {
    list-style-type: square;
}
.list-circle {
    list-style-type: circle;
}
.text-shadow-success {
    text-shadow: 3px 3px 4px darkolivegreen;
}
.font-big {
    font-size: 3em;
}
.font-b {
    font-size: 2em;
}
.font-smaller {
    font-size: 0.6em;
}

.font-small {
    font-size: 0.8em;
}
.font-sm {
    font-size: 0.9em;
}

.font-mid {
    font-size: 1.5em;
}
.font-middle {
    font-size: 1.1em;
}
.text-shadow-white {
    text-shadow: 3px 3px 4px black;
}

.acadList li::before {
    content: "\f14a";
    font-family: "Font Awesome 5 Free";
    margin-right: 0.6em;
    color: white;
    background-color: rgb(82, 69, 27);
}

.text-slategray {
    color: darkslategray
}

/* Elements */

#imgSec {
    width: 300px;
    height: 300px;
    
}
#socialLinks{
    margin-top: 30px;
}

.skillDetail {
    background-color: rgb(255, 248, 236);
    border-radius: 20%;
    animation: move 7s 2s linear infinite;
}



.skillDetail div div {
    color:rgb(50, 51, 53);
    border-radius: 20%;
}


#socialLinks {
    background-color: white;
    background-color: white;
    
}
#socialLinks div a:hover{
    border-radius: 50%;
    background-color: rgba(77, 69, 63, 0.541);
    padding: 15px 20px;
}

/* Key Frames*/
@keyframes move {
    0%, 100% {
        transform: translate(0%, 0%);
    }

    10% {
        transform: translate(10%, 0%);
    }
    30% {   
        transform: translate(0, 10%);
        
    }
    50% {
        transform: translate(-10%, 0%);
    }
    70% {
        transform: translate(0, -10%)
    }
    80% {
        transform: translate(10%, 0);
    }
    95% {
        transform: scale(1);
    }
}

.evenSocials {
    opacity: 0;
    animation-name: even;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
}

.oddSocials {
    opacity: 0;
    animation-name: odd;
    animation-fill-mode: forwards;
    animation-delay: 4s;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
}

@keyframes even {
    0%{
       opacity: 0.5;
 
    }
 
    25% {
        opacity: 0.8;
       transform: translate(0%, 10%);
    }
 
    50% {
       transform: scale(1.5);
    }
    75%{
        opacity: 1;
        transform: translate(0%, -10%);
    }
    100%{
        transform: translate(0%, 0%);
        background-image: radial-gradient(#329b96, #418084, #52a68a);
        opacity: 1;
        color:white;
        transform: scale(1);
        padding: 7px 14px;
        border-radius: 20%;
    }
 }

 @keyframes odd {
    10%{
        background-image: radial-gradient(#9f895f, #b2af7e, #7f774b);
        transform: scale(0.3);
        padding: 5px 10px;
        opacity: 1;
        padding: 3px;
    }
    50% {
       transform: scale(1.5);
    }
    75%{
       opacity: 0.75;
       transform: scale(0.7);
    }
    100%{
        background-image: radial-gradient(#329b96, #418084, #52a68a);
        opacity: 1;
        color:white;
        transform: scale(1);
        padding: 7px 14px;
        border-radius: 20%;
    }
 }